.row.show-grid.image-feed
  .span10.offset2
    %h2 Your Instagram Photos
    %ul.image-list
      -@images.each do |i|
        =render :partial => "images/dashboard_image", :locals => {:i => i}

.modal.hide.fade.in#addProductModal
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Type a product name...
  .modal-body
    %form.navbar-search.pull-left
      %input#search-query{:placeholder => "Search", :type => "text", "data-provide" => "typeahead"}
    .clearfix
    .search-results
  .modal-footer
    %a.btn{:href => "javascript:void(0)", "data-dismiss" => "modal"} Close
    %a.btn.btn-primary{:href => "#"} Save changes
                