.row-fluid.show-grid.dashboard-feed
  .span1
  .span10
    %h2 Your Instagram Photos
    %ul.image-list
      -@images.each do |i|
        =render :partial => "images/dashboard_image", :locals => {:i => i}

.modal.hide.fade.in#addProductModal
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Type a product name...
  .modal-body
    %form.navbar-search.pull-left
      %input.span3{"data-items" => "4", "data-provide" => "typeahead", "data-source" => '["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]', :style => "margin: 0 auto;", :type => "text"}
    .clearfix
    .search-results
  .modal-footer
    %a.btn{:href => "javascript:void(0)", "data-dismiss" => "modal"} Close
    %a.btn.btn-primary{:href => "#"} Save changes



:javascript
  loadProducts(#{@products});