.row.show-grid.image-feed
  .span10.offset2
    %h2 Your Instagram Photos
    %ul.image-list
      -@images.each do |i|
        %li
          .thumb=image_tag i.low_url
          %hgroup
            %h3.image-title
              =i.created_at.strftime('%B %e, %Y (%a), %I:%M%p')
            %h4
              -if i.location_name.present?
                %span.icon.icon-geopin
                =i.location_name
          %p
            %span.label.label-important{"title" => "Number of Instagram likes", "rel" => "tooltip", "data-placement" => "top"}
              %span.icon-heart.icon-white
              12
          -if i.title.present?
            .well
              =i.title
          %p
            %a.btn{"data-toggle" => "modal", :href => "#myModal", :role => "button", :class => 'btn btn-success btn-mini'} <span class="icon icon-plus-16"></span>Add products
          -if i.embed.present?
            %h1
              %a{:href => i.embed.url} link to embed
          %ul.added-products-list
            %li
              %a{:href => "#"}
                Prada Shoes - $129.99
            %li
              %a{:href => "#"}
                Gucci Skirt - $33.99
            %li
              %a{:href => "#"}
                D&B Shoes - $45.00
          %p
            =link_to "Post to Tumblr", "images/post/#{i.id}", :class => 'btn btn-info'

.modal.hide.fade.in#myModal
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3 Type a product name...
  .modal-body
    %form.navbar-search.pull-left
      %input.search-query{:placeholder => "Search", :type => "text"}
  .modal-footer
    %a.btn{:href => "javascript:void(0)", "data-dismiss" => "modal"} Close
    %a.btn.btn-primary{:href => "#"} Save changes
                