.row.show-grid.image-feed
  #images




  .span8.offset4
    %h1 Welcome to OMGwant!
    %p
      To get started, sign in with your
      %a{:href => "https://instagram.com"}Instagram
      account

    =link_to 'Connect via instagram', "/auth", :class => "btn-connect-instagram"