%li.image{'data-id' => i.id, :class => i.published ? 'published' : 'image'}
  .thumb=image_tag i.low_url
  %hgroup
    %h3.image-title
      =i.created_at.strftime('%B %e, %Y (%a), %I:%M%p') # formatted date
    %h4
      -if i.location_name.present?
        %span.icon.icon-geopin
        =i.location_name
  %p
    %span.label.label-important{"title" => "Number of Instagram likes", "rel" => "tooltip", "data-placement" => "top"}
      %span.icon-heart.icon-white
      12
  -if i.title.present?
    .well
      =i.title
  %p
    %a.btn{"data-toggle" => "modal", :href => "#addProductModal", :role => "button", :class => 'btn btn-success btn-mini bsModal'}                        
      %span.icon.icon-plus-16
      Add products

  =render :partial => "images/publish", :locals => {:image => i}

  %ul.added-products-list
    %li
      %a{:href => "#"}
        Prada Shoes - $129.99
    %li
      %a{:href => "#"}
        Gucci Skirt - $33.99
    %li
      %a{:href => "#"}
        D&B Shoes - $45.00
  %p
    =link_to '<span class="icon icon-tumblr-16"></span>Post to Facebook'.html_safe, "images/post/#{i.id}", :class => 'btn btn-info', 'data-remote' => 'true'