%header.main-header
  .navbar.navbar-fixed-top
    .navbar-inner
      %a.brand.link{:href => root_url, 'data-page' => 'home'}
        %img{:src => "/assets/logo.png"}/
      %ul.nav
        %li
          %a.link{:href => "/", 'data-link' => 'home'} Everyone
        -if user_signed_in?
          %li
            %a.link{:href => "/following", 'data-link' => 'following'} Following
        %li
          %a.link{:href => "/about"} About
        %li
          %a.link{:href => "/faq"} FAQ

      %ul.nav.pull-right.user-menu
        %li.divider-vertical
        -if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              %object.userpic{"Data" => current_user.image_url}
                =image_tag "/assets/avatar-default.png", :class => 'userpic'
              Hi, #{current_user.computed_name}
              %b.caret
            %ul.dropdown-menu
              %li
                %a.link{:href => "/users/#{current_user.id}"} My Profile
              %li
                %a.link{:href => "/dashboard"} Dashboard
              %li
                %a{:href => "#"} Settings
              %li.divider
              %li
                =link_to('Logout', destroy_user_session_path, :method => :delete)
        -else
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
              Sign In
            %ul.dropdown-menu
              %li
                %p
                  To get started, sign in with your
                  %a{:href => "https://instagram.com"}Instagram
                  account
                =link_to 'Connect via instagram', "/auth", :class => "btn-connect-instagram non-menu-item"
